@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Raleway:wght@400;500;600;700;800&display=swap");

.card-marvel {
  margin: 0 30px;
  height: 450px;
  width: 350px;
  background-color: #fff;
  border: 5px solid black;
  box-shadow: 0 0 0 7px #fff, 0 0 8px 5px #000;
}
.card-marvel-image {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #000;
  z-index: 1;
}
.card-marvel-image > img {
  position: absolute;
  z-index: 2;
  height: 100%;
}
#hulk > .card-marvel-image {
  height: 55%;
  background-color: #ffdd33;
}
#hulk > .card-marvel-image > img {
  width: 150%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#hulk h2 {
  color: #59c887;
  letter-spacing: -5px;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
  font-size: 3rem;
  margin-left:-8vw
}
#hulk p {
  font-size: 2rem;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  margin-left:-8vw
}
#hulk > .card-marvel-text {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.card-marvel-text > div {
  display: flex;
  justify-content: space-between;
}
#hulk > .card-marvel-text > div > div:first-child {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
#hulk > .card-marvel-text > div > div:first-child > span:first-child {
  font-size: 4rem;
  font-weight: 800;
}
#hulk > .card-marvel-text > div > div:first-child > span:last-child {
  font-size: 2rem;
  font-weight: 600;
}
#hulk > .card-marvel-text > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-right: none;
  border-bottom: none;
  padding: 10px 0px;
  margin-top: -13vh;
}
#hulk > .card-marvel-text > div > div:last-child > span:first-child {
  font-size: 2rem;
  font-weight: bold;
}
#hulk > .card-marvel-text > div > div:last-child > span:last-child {
  font-weight: 500;
  max-width: 114px;
}
#spiderman > .card-marvel-image {
  height: 72%;
  background-color: #5caab4;
}
#spiderman > .card-marvel-image > img {
  width: 130%;
  height: 90%;
  margin-top: 20px;
  margin-left: -30px;
}
#spiderman h2 {
  font-size: 3rem;
  letter-spacing: 15px;
  text-align: center;
  margin-left: 10px;
  color: #2e5579;
}
#spiderman > .card-marvel-text > div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 5px;
}
#spiderman > .card-marvel-text > div > div:first-child {
  display: flex;
  flex-direction: column;
}
#spiderman > .card-marvel-text > div > div:first-child > span {
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 500;
}
#spiderman > .card-marvel-text > div > div:last-child {
  display: flex;
}
#spiderman > .card-marvel-text > div > div:last-child > span:first-child {
  font-size: 5rem;
  font-weight: 800;
  line-height: 60px;
}

#spiderman > .card-marvel-text > div > div:last-child > span:last-child {
  font-weight: 600;
  font-size: 1.3rem;
}
#deadpool > .card-marvel-image {
  height: calc(80% - 5px);
  background-color: #a01f29;
  border-top: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#deadpool img {
  height: 90%;
}
#deadpool > .card-marvel-text {
  display: flex;
  justify-content: center;
  height: 20%;
}
#deadpool > .card-marvel-text > div {
  width: 100%;
}
#deadpool > .card-marvel-text > div:last-child {
  border-left: 3px solid black;
}
#deadpool > .card-marvel-text > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
#deadpool > .card-marvel-text > div:first-child > span:first-child {
  font-size: 4rem;
  font-weight: 800;
}
#deadpool > .card-marvel-text > div:first-child > span:last-child {
  font-size: 1.5rem;
  font-weight: 600;
}
#deadpool > .card-marvel-text > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#deadpool > .card-marvel-text > div:last-child > span:first-child {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3px;
}
#deadpool > .card-marvel-text > div:last-child > span:nth-of-type(2) {
  font-size: 1.3rem;
  font-weight: 500;
}
#deadpool > .card-marvel-text > div:last-child > span:last-child {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#deadpool > .card-marvel-image p {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  font-weight: 600;
  color: #fff;
}
